extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer(video)
        .video__info
            if loggedUser
                if String(video.creator._id) === String(loggedUser._id)
                    a(href=routes.editVideo(video.id))
                        button Edit video
            h5.video__title=video.title
            if video.views === 1
                span.video__views #{video.views} view
            else
                span.video__views #{video.views} views
            .video__auther
                a(href=routes.userDetail(video.creator.id))
                    if video.creator.avatarUrl.includes("http://") || video.creator.avatarUrl.includes("https://")
                        .video__u-avatar(style=`background-image: url('${video.creator.avatarUrl}');`)
                    else                         
                        .video__u-avatar(style=`background-image: url('/${video.creator.avatarUrl}');`)
                    span=video.creator.name
                p.video__description=video.description
        .video__comments
            if video.comments.length === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{video.comments.length} comments
            if loggedUser 
                form.video__comment-form#jsAddComment
                    if video.creator.avatarUrl.includes("http://") || video.creator.avatarUrl.includes("https://")
                        .video__loggedUser-avatar(style=`background-image: url('${loggedUser.avatarUrl}');`)
                    else 
                        .video__loggedUser-avatar(style=`background-image: url('/${loggedUser.avatarUrl}');`)
                    .wrap-input
                        input(type="text", placeholder="Add a comment")
            ul.video__comments-list
                each comment in comments
                    li 
                        a(href=routes.userDetail(comment.creator.id))
                            if video.creator.avatarUrl.includes("http://") || video.creator.avatarUrl.includes("https://")
                                .comment__u-avatar(style=`background-image: url('${comment.creator.avatarUrl}')`)
                            else 
                                .comment__u-avatar(style=`background-image: url('/${comment.creator.avatarUrl}')`)
                        .comment__text
                            a(href=routes.userDetail(comment.creator.id))
                                span.comment__username=comment.creator.name
                            if Math.floor((Date.now() - comment.createdAt) / 31622400000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 31622400000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 31622400000)} year ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 31622400000)} years ago
                            else if Math.floor((Date.now() - comment.createdAt) / 2635200000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 2635200000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 2635200000)} month ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 2635200000)} months ago
                            else if Math.floor((Date.now() - comment.createdAt) / 86400000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 86400000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 86400)} day ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 86400000)} days ago
                            else if Math.floor((Date.now() - comment.createdAt) / 3600000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 3600000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 3600000)} hour ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 3600000)} hours ago
                            else if Math.floor((Date.now() - comment.createdAt) / 60000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 60000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 60000)} minute ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 60000)} minutes ago
                            else 
                                span just a moment ago
                            p=comment.text 
