extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer(video)
        .video__info
            h5.video__title=video.title
            .wrap-othr
                if video.views === 1
                    span.video__views #{video.views} view
                else
                    span.video__views #{video.views} views
                span  • 
                span.video__date #{new Date(video.createdAt).getFullYear()}. #{new Date(video.createdAt).getMonth()}. #{new Date(video.createdAt).getDate()}.
            .video__auther
                div
                    a(href=routes.userDetail(video.creator.id))
                        div
                            if video.creator.avatarUrl
                                if video.creator.avatarUrl.substring(0,4) === "http"
                                    .video__u-avatar(style=`background-image: url('${video.creator.avatarUrl}');`)
                                else                         
                                    .video__u-avatar(style=`background-image: url('/${video.creator.avatarUrl}');`)
                            else 
                                .video__u-avatar
                        span=video.creator.name
                    if loggedUser
                        if String(video.creator._id) === String(loggedUser._id)
                            a(href=routes.editVideo(video.id))
                                button Edit video
                p.video__description#jsVideoDescription=video.description
                span#showMoreBtn Show more
        .video__comments
            if video.comments.length === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{video.comments.length} comments
            if loggedUser 
                form.video__comment-form#jsAddComment
                    if loggedUser.avatarUrl
                        if loggedUser.avatarUrl.substring(0,4) === "http"
                            .video__loggedUser-avatar(style=`background-image: url('${loggedUser.avatarUrl}');`)
                        else 
                            .video__loggedUser-avatar(style=`background-image: url('/${loggedUser.avatarUrl}');`)
                    else 
                        .video__loggedUser-avatar
                    .wrap-input
                        input(type="text", placeholder="Add a comment")
            ul.video__comments-list
                each comment in comments
                    li(id=comment.id)
                        a(href=routes.userDetail(comment.creator.id))
                            if comment.creator.avatarUrl
                                if comment.creator.avatarUrl.substring(0,4) === "http"
                                    .comment__u-avatar(style=`background-image: url('${comment.creator.avatarUrl}')`)
                                else 
                                    .comment__u-avatar(style=`background-image: url('/${comment.creator.avatarUrl}')`)
                            else
                                .comment__u-avatar
                        .comment__text
                            a(href=routes.userDetail(comment.creator.id))
                                span.comment__username=comment.creator.name
                            if Math.floor((Date.now() - comment.createdAt) / 31622400000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 31622400000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 31622400000)} year ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 31622400000)} years ago
                            else if Math.floor((Date.now() - comment.createdAt) / 2635200000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 2635200000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 2635200000)} month ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 2635200000)} months ago
                            else if Math.floor((Date.now() - comment.createdAt) / 86400000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 86400000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 86400000)} day ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 86400000)} days ago
                            else if Math.floor((Date.now() - comment.createdAt) / 3600000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 3600000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 3600000)} hour ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 3600000)} hours ago
                            else if Math.floor((Date.now() - comment.createdAt) / 60000) > 0
                                if Math.floor((Date.now() - comment.createdAt) / 60000) === 1
                                    span #{Math.floor((Date.now() - comment.createdAt) / 60000)} minute ago
                                else 
                                    span #{Math.floor((Date.now() - comment.createdAt) / 60000)} minutes ago
                            else 
                                span just a moment ago
                            p=comment.text 
                            form.comment__form.none
                                input.comment__input(required=true, value=comment.text)
                        .comment__menu 
                            if loggedUser
                                if loggedUser.upVotes.map(x => String(x)).includes(comment.id)
                                    button.comment__up-vote-btn.comment__up-vote-btn--active
                                        i.fas.fa-chevron-up
                                        span.up-vote-number=comment.upvote
                                else
                                    button.comment__up-vote-btn
                                        i.fas.fa-chevron-up
                                        span.up-vote-number=comment.upvote
                                if comment.creator.id === String(loggedUser._id)
                                    div 
                                        button.comment__edit-btn 
                                            .comment__wrap-edit
                                                i.fas.fa-pen
                                        button.comment__delete-btn 
                                            .comment__wrap-delete
                                                i.fas.fa-times

