extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            .wrap-input
                span.placeholder Name
                input(type="text", name="name", required=true)        
                span.placeholder Email
                input(type="email", name="email", required=true)
                span.placeholder Password
                input(type="password", name="password", required=true)
                span.placeholder Verify Password
                input(type="password", name="password2", required=true)
                input(type="submit", value="Join Now")
            include partials/socialLogin
