extends layouts/main
include mixins/videoBlock

block content
    .user-profile
        .user-banner#jsUserBanner
            if user.bannerUrl 
                .user-banner-img(style=`background-image: url('/${user.bannerUrl}');`)
            else 
                .user-banner-img
        .user-profile__header#jsPofileHeader
            .user-box
                .wrap-u-avatar
                    if user.avatarUrl
                        if user.avatarUrl.substring(0,4) === "http"
                            .u-avatar(style=`background-image: url('${user.avatarUrl}');`)
                        else
                            .u-avatar(style=`background-image: url('/${user.avatarUrl}');`)
                    else
                        .u-avatar
                .userInfo
                    .wrap-username
                        h4.user-profile__username=user.name
                    if loggedUser && user.id == loggedUser.id
                        .user-profile__btns
                            a(href=`/users${routes.editProfile}`)
                                button Edit Profile
                            a(href=`/users${routes.changePassword}`)
                                button Change Password
        nav.user-profile__navigation-bar#jsNavigationBar
            .navigation-bar__wrap-navigation
                .previousBtn.hidden#jsPreviousBtn
                    button
                        i.fas.fa-chevron-left
                ul.navigation-bar__list#jsNavigationList
                    .selected-bar#jsNavigationSelectedBar(class=`${query === "videos" ? "selected-bar--videos" : ""}${query === "playlists" ? "selected-bar--playlists" : ""}${query === "channels" ? "selected-bar--channels" : ""}${query === "discussion" ? "selected-bar--discussion" : ""}${query === "about" ? "selected-bar--about" : ""}${query === "search" ? "selected-bar--search" : ""}`)
                    li#home(class=`${query === "home" ? "navigation-item--selected" : ""}`)
                        span Home 
                    li#videos(class=`${query === "videos" ? "navigation-item--selected" : ""}`)
                        span Videos
                    li#playlists(class=`${query === "playlists" ? "navigation-item--selected" : ""}`)
                        span Playlists
                    li#channels(class=`${query === "channels" ? "navigation-item--selected" : ""}`)
                        span Channels
                    li#discussion(class=`${query === "discussion" ? "navigation-item--selected" : ""}`)
                        span Discussion
                    li#about(class=`${query === "about" ? "navigation-item--selected" : ""}`)
                        span About
                    li#search(class=`${query === "search" ? "navigation-item--selected" : ""}`)
                        span Search
                .nextBtn.hidden#jsNextBtn
                    button
                        i.fas.fa-chevron-right
        if query === "home"
            .uploads.user-profile__video-list#jsUploadsVideoList
                span.video-list__title Uploads
                .videosPreviousBtn.hidden#jsUploadsVideosPreviousBtn
                    button 
                        i.fas.fa-chevron-left
                .video-list__videos#jsUploadsVideos
                    each item in user.videos
                        +videoBlock({
                            id: item.id,
                            title: item.title,
                            views: item.views,
                            comments: item.comments,
                            fileUrl: item.fileUrl,
                            description: item.description,
                            creator: user,
                            createdAt: item.createdAt,
                            div: "userDetail"
                        })
                .videosNextBtn.hidden#jsUploadsVideosNextBtn
                    button 
                        i.fas.fa-chevron-right
        else if query === "videos"
            .videos-box
                span.videos-box__title Uploads
                .videos-box__videos
                    each item in user.videos
                        +videoBlock({
                            id: item.id,
                            title: item.title,
                            views: item.views,
                            comments: item.comments,
                            fileUrl: item.fileUrl,
                            description: item.description,
                            creator: user,
                            createdAt: item.createdAt,
                            div: "userDetail"
                        })